POSTGRES_DB=opmwiki
POSTGRES_USER=opmwiki
POSTGRES_PASSWORD=opmwiki
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-strong-password
ADMIN_JWT_SIGNING_KEY=replace-with-at-least-32-random-characters
AI_ADVISOR_ENABLED=false
AI_ADVISOR_ENDPOINT=
AI_ADVISOR_API_KEY=
AI_ADVISOR_MODEL=
